{%extends 'base.html' %}

{% block head %}
<title>Unlimited Manga アンリミテッドマンガ</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<meta name="title" content="Unlimited Manga アンリミテッドマンガ">
<meta name="description" content="This free manga website is loaded with the most entertaining manga comics, which are updated regularly.">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://manga.adgstudios.co.za/">
<meta property="og:title" content="Unlimited Manga アンリミテッドマンガ">
<meta property="og:description" content="This free manga website is loaded with the most entertaining manga comics, which are updated regularly.">
<meta property="og:image" content="https://manga.adgstudios.co.za/static/img/manga.webp">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://manga.adgstudios.co.za/">
<meta property="twitter:title" content="Unlimited Manga アンリミテッドマンガ">
<meta property="twitter:description" content="This free manga website is loaded with the most entertaining manga comics, which are updated regularly.">
<meta property="twitter:image" content="https://manga.adgstudios.co.za/static/img/manga.webp">
{% endblock %}
<div id="background-img">
    <img src="{{ gifUrl }}" alt="">
</div>

{% block body %}
<div id="homeControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page-header min-vh-75 m-3 border-radius-xl" style="background-image: url({{ gifUrl }});">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">MANGA @ ADGSTUDIOS</h4>
                <h1 class="text-white fadeIn2 fadeInBottom">マンガ@アドグストゥディオズ</h1>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Unlimited Manga アンリミテッドマンガ</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}