{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
<script>
    var chapterList = JSON.parse({{ chapList| tojson | safe }});
    // This is not any error it's flask syntax for using
    // python variable and converting them to json object
</script>
<script src="{{ url_for('static', filename = 'js/chapter.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/chapter.css') }}">
{% endblock %}

{% block body %}
<div class="row">    
        <div class="row">
          <div class="col-lg-5">
            <a>
              <div class="position-relative">
                <div class="blur-shadow-image">
                  <img class="w-100 rounded-3 shadow-lg" style="max-width: 280px;" src="{{poster}}">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-7 ps-0 my-auto">
            <div class="card-body text-left">
              <div class="p-md-0 pt-3">
                <h5 class="font-weight-bolder mb-0">{{title}}</h5>                
              </div>
              <p class="mb-4">{{description}}</p>
              {%for gen in genre%}
              <a class="badge bg-gradient-dark mb-3">{{gen.name}}</a>
              {%endfor%}                                                        
              <i class="fas fa-star"><p class="d-inline">{{rating}}</p></i>                            
            </div>
          </div>
        </div>  
  </div>
<div id="chapters"></div>
{% endblock %}