{%extends 'base.html' %}

{% block head %}
<title>Search Result for {{ query }}</title>
<script>
    var query = JSON.parse({{ result| tojson | safe }});
    // This is not any error it's flask syntax for using
    // python variable and converting them to json object
</script>
<script src="/static/js/search.js"></script>
{% endblock %}

{% block body %}
{% for manga in result %}
<div class="col-md-4 mt-4">
    <div class="card">
      <a onclick='showTopbar("{{manga.url}}")' style="cursor: pointer;">
        <div class="p-3">
          <img class="w-100 border-radius-md mx-auto d-block" style="max-width: 246px;"  src="{{manga.img}}">
        </div>
      </a>
      <div class="card-body blur justify-content-center text-center mx-4 mb-4 border-radius-md">
        <h4 class="mb-0">{{manga.title}}</h4>
      </div>
    </div>
</div>
{%endfor%}

{% endblock %}